%% EXAMPE: https://github.com/rebar/rebar/blob/master/rebar.config.sample
%%      https://github.com/rebar/rebar3/blob/master/rebar.config.sample
%% {sub_dirs, ["listen"]}.
%{validate_app_modules, true}.

{deps, [
  {mysql, ".*",
    {git, "git://github.com/dizzyd/erlang-mysql-driver.git"}},
  { eimap, "*",
    {git, "git://git.kolab.org/diffusion/EI/eimap.git" }}
]}.

{erl_opts, [debug_info]}.

% https://github.com/devinus/poolboy - for the worker
% https://github.com/mysql-otp/mysql-otp/ - mysql
%%%  https://github.com/vagabond/diemap - peg,
%%%     neotomna (https://github.com/seancribbs/neotoma)
%  https://github.com/corecode/eimap
%