%% EXAMPE: https://github.com/rebar/rebar/blob/master/rebar.config.sample
%%      https://github.com/rebar/rebar3/blob/master/rebar.config.sample
%% {sub_dirs, ["listen"]}.
%{validate_app_modules, true}.

{deps, [
  {mysql, ".*",
    {git, "https://github.com/mysql-otp/mysql-otp.git"}},
  { diemap, ".*",
    {git, "https://github.com/Vagabond/diemap.git" }},
  { oauth2c, ".*",
    {git, "https://github.com/kivra/oauth2_client.git" }},
  { poolboy, ".*",
    {git, "https://github.com/devinus/poolboy.git" }},
  { jsx, ".*",
    {git, "https://github.com/talentdeficit/jsx.git" }}
]}.

{erl_opts, [debug_info]}.

% https://github.com/devinus/poolboy - for the worker
% https://github.com/mysql-otp/mysql-otp/ - mysql
%%%  https://github.com/vagabond/diemap - hard way, PEG
%%%     neotomna (https://github.com/seancribbs/neotoma)
%  https://github.com/corecode/eimap
%https://github.com/ninenines/cowboy - clientgate